/*Mobile version css*/
*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family:Verdana;
}

.wrapper{
    width: 100%;
    /*margin-left: 0 auto;*/
    /*margin-right: 0 auto;*/
    margin: 0 auto;
}
.section{

    border: solid 2px #000000;
    background-color: #999999;
width: 98%;
    margin: 1%;

}
h1{
    font-weight: 500;
    margin-bottom: 40px;
}
h2{
    border: solid 1px #000000;
    /*width: 32%;*/
    /*margin-left:auto;*/
    /*margin-right:0;*/
    /*margin-top: 0px;*/
    margin: 0px;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 4%;
    padding-right: 4%;
    float: right;


}
p{
    clear: both;
    margin: 2%;
}

.box1>h2{
      background-color: #d89899;

}

.box2>h2{
    background-color: #c54346;
    color: #ffffff;
}

.box3>h2{
    background-color: #e6d09f;
}

/*tablet*/
@media screen  and (min-width: 768px) and (max-width: 991px) {




.container:nth-child(1){
    display:inline-block;
    width:47%;
    /*border:1px solid #000000;*/
    float:left;
}

    .container:nth-child(2){
        display:inline-block;
        width:47%;
        /*border:1px solid #000000;*/
        float:left;
    }

    .container:nth-child(3){
        display:block;
        width:95%;
        clear: both;
        /*margin: 0 auto;*/
        /*border:1px solid #000000;*/
        /*float:left;*/
    }

}
/*desktop*/
@media screen and  (min-width: 992px) {

.section{
    width: 30%;
    margin: 1%;
    display: inline-block;
    float: left;
}

}